<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 bg-white rounded shadow-md">
    <h2 class="mb-6 text-2xl font-bold text-center text-gray-800">Login</h2>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <mat-form-field class="w-full">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="johndoe" />
          @if (loginForm.controls['username'].hasError('required')) {
          <mat-error>Username is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            placeholder="yourpassword"
          />
          @if (loginForm.controls['password'].hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="w-full my-2"
      >
        Login
      </button>

      <button
        mat-raised-button
        type="button"
        class="w-full link"
        (click)="goToSignup()"
      >
        Don't have an account? Sign Up
      </button>
    </form>
  </div>
</div>
