<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-8 bg-white rounded shadow-md">
    <h2 class="mb-6 text-2xl font-bold text-center text-gray-800">Sign Up</h2>
    <form [formGroup]="signupForm()" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <div class="mb-4">
        <mat-form-field class="w-full">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="johndoe" />
          @if (signupForm().controls['username'].hasError('required')) {
          <mat-error>Username is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>

      <!-- First Name -->
      <div class="mb-4">
        <mat-form-field class="w-full">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" placeholder="John" />
          @if (signupForm().controls['firstName'].hasError('required')) {
          <mat-error>First name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>

      <!-- First Name -->
      <div class="mb-4">
        <mat-form-field class="w-full">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" placeholder="Doe" />
          @if (signupForm().controls['lastName'].hasError('required')) {
          <mat-error>Last name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Password -->
      <div class="mb-4">
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>

          <input
            matInput
            [type]="hidePassword() ? 'password' : 'text'"
            formControlName="password"
            placeholder="yourpassword"
          />

          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword.set(!hidePassword())"
            [attr.aria-label]="
              hidePassword() ? 'Hide password' : 'Show password'
            "
            [attr.aria-pressed]="!hidePassword()"
          >
            <mat-icon>{{
              hidePassword() ? "visibility" : "visibility_off"
            }}</mat-icon>
          </button>

          @if (signupForm().controls['password'].hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Password Confirmation -->
      <div class="mb-6">
        <mat-form-field class="w-full">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            [type]="hideConfirmPassword() ? 'password' : 'text'"
            formControlName="passwordConfirmation"
            placeholder="yourpasswordconfirmation"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hideConfirmPassword.set(!hideConfirmPassword())"
            [attr.aria-label]="
              hideConfirmPassword() ? 'Hide password' : 'Show password'
            "
            [attr.aria-pressed]="!hideConfirmPassword()"
          >
            <mat-icon>{{
              hideConfirmPassword() ? "visibility" : "visibility_off"
            }}</mat-icon>
          </button>
          @if (!signupForm().controls['password'].hasError('required') &&
          signupForm().controls['passwordConfirmation'].hasError('required')) {
          <mat-error
            >Confirming your password is <strong>required</strong></mat-error
          >
          }
        </mat-form-field>

        @if (signupForm().errors?.['passwordMismatch'] &&
        !signupForm().get('passwordConfirmation')?.errors?.['required'] &&
        signupForm().touched) {
        <mat-error>Passwords do not match</mat-error>
        }
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="w-full my-2"
        [attr.aria-label]="'Submit'"
      >
        Sign Up
      </button>

      <button
        mat-raised-button
        type="button"
        class="w-full link"
        [attr.aria-label]="'Signup'"
        (click)="goToLogin()"
      >
        Return to Login
      </button>
    </form>
  </div>
</div>
