div.top {
    height: 80px;
    width:100%;
    display:flex;
    justify-content: center;
    padding:10px;
    text-align: center;
    
    h3 {
        text-align: center;
    }
}

div.content {
    display:flex;
    
    div.left {
        flex: 0 0 200px;
        padding: 10px;
    }

    div.right {
        flex: 1;
        padding:20px;
    }
}