<div *ngIf="stateService.selectedModel && threadFormVisible">
  <form [formGroup]="threadForm" (ngSubmit)="onSubmit()">
    <h2 class="text-lg font-semibold mb-2">New Thread</h2>
    <input
      type="text"
      placeholder="Thread name..."
      class="w-full border rounded px-2 py-1 mb-2"
      formControlName="thread_title"
      type="text"
    />
    <button class="w-full bg-blue-500 text-white py-1 rounded">Submit</button>
  </form>
</div>
<button
  *ngIf="stateService.selectedModel"
  class="w-full mt-2 border border-blue-500 text-blue-500 py-1 rounded"
  (click)="threadFormVisible = !threadFormVisible"
>
  Toggle Thread Form
</button>

<div class="container">
  @for (thread of threads(); track thread.id) {
  <div class="card">
    <h4 (click)="onThreadSelect(thread)">{{ thread.title }}</h4>
  </div>
  }
</div>
