@if (stateService.selectedModel && threadFormVisible()){
<div>
  <form [formGroup]="threadForm()" (ngSubmit)="onSubmit()">
    <h2 class="text-lg font-semibold mb-2">New Thread</h2>
    <input
      type="text"
      placeholder="Thread name..."
      class="w-full border rounded px-2 py-1 mb-1"
      formControlName="threadTitle"
      type="text"
    />
    @if (threadForm().get('threadTitle')?.invalid &&
    threadForm().get('threadTitle')?.touched){
    <div>
      @if (threadForm().get('threadTitle')?.errors?.['required']){
      <p class="text-sm text-red-500 mt-1">Title is required.</p>
      }
    </div>
    }

    <button class="w-full bg-blue-500 text-white py-1 rounded mb-2">
      Submit
    </button>
  </form>
</div>
} @if (stateService.selectedModel){
<button
  class="w-full bg-blue-500 text-white py-1 rounded"
  (click)="threadFormVisible.set(!threadFormVisible())"
>
  Toggle Thread Form
</button>
}

<div class="container">
  @for (threadList of threads(); track threadList.date) {
  <div>
    <h3 class="text-lg font-semibold mb-2">
      {{ threadList.date | friendlyDate }}
    </h3>
    @for (thread of threadList.threads;track thread.id ){
    <div>
      <div
        tabindex="0"
        class="card"
        (click)="onThreadSelect(thread)"
        [class.selected]="thread.id === stateService.selectedThread?.id"
      >
        <h4>{{ thread.title }} ({{ thread.modelType }})</h4>
      </div>
    </div>
    }
  </div>
  } @if (hasNext()){
  <button
    class="w-full bg-blue-500 text-white py-1 rounded mb-2"
    (click)="loadMore()"
  >
    Load more...
  </button>
  }
</div>
