/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */
button {
    background-color: #007bff;
    border: none;
    border-radius:7px;
    color: white;
    font-weight: bold;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}